<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<!-- 是用来描述数据库的连接 -->
<session-factory>
	<property name="dialect">
		org.hibernate.dialect.MySQL5Dialect
	</property>
	<!-- 	<property name="connection.driver_class"> -->
	<!-- 		com.mysql.jdbc.Driver -->
	<!-- 	</property> -->
	<!-- 	<property name="connection.url"> -->
	<!-- 		jdbc:mysql://localhost:3306/s2sh_surveypark -->
	<!-- 	</property> -->
	<!-- 	<property name="connection.username">root</property> -->
	<!-- 	<property name="connection.password">111111</property> -->
	<property name="hbm2ddl.auto">update</property>
	<property name="show_sql">true</property>
<!-- 	<property name="current_session_context_class">thread</property> -->

	<mapping resource="cn/zbl/s2sh/domain/Page.hbml.xml" />
	<mapping resource="cn/zbl/s2sh/domain/Question.hbml.xml" />
	<mapping resource="cn/zbl/s2sh/domain/Survey.hbml.xml" />
	<mapping resource="cn/zbl/s2sh/domain/User.hbml.xml" />
	<mapping resource="cn/zbl/s2sh/domain/Answer.hbml.xml" />
	<mapping resource="cn/zbl/s2sh/domain/security/Right.hbml.xml" />
	<mapping resource="cn/zbl/s2sh/domain/security/Role.hbml.xml" />
	<mapping resource="cn/zbl/s2sh/domain/Log.hbml.xml" />

</session-factory>
</hibernate-configuration>